.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 92px 50px 92px 50px;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.header__link {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item {
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__logo-image {
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  width: 240px;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0%;
  font-style: normal;
}

.address__link {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  list-style-type: circle;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 757px;
  margin-bottom: 180px;
  color: white;
  text-transform: uppercase;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding: 165px 50px 10px 50px;
}
.cover__content {
  z-index: 2;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.cover__title {
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30px;
}
.aligned-text {
  display: block;
  line-height: 115px;
  padding-bottom: 20px;
}

.aligned-text_center {
  padding-left: 30px;
  text-align: center;
}

.aligned-text_right {
  text-align: end;
}
.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 87px;
}
.cover__description-text {
  font-size: 22px;
  word-spacing: 19px;
}
.bet-button {
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 12px 32px;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
  background-color: transparent;
}

.lots {
  margin: 0 24px;
  margin-bottom: 120px;
}

.lots__heading {
  padding: 0 0 27px 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card {
  position: relative;
  color: white;
  background-position: center;
  background-size: cover;
}

.card__flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 30px;
}

.card-link,
.card {
  height: 100%;
}
.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  padding: 48px 40px 0;
  font-size: 22px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  text-transform: uppercase;
  z-index: 2;
}

.card__text {
  padding: 0 40px 48px;
  font-size: 20px;
  z-index: 2;
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 0 25px;
  margin: 0 24px;
  margin-bottom: 180px;
}

.about__logo {
  justify-self: center;
  align-self: center;
}

.about__logo-image {
  width: 240px;
  height: 240px;
  margin-top: 35px;
  border-radius: 120px;
  background-color: black;
  background-image: url("../images/logo-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 148px 114px;
}

.about__title {
  margin-top: 136px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 100px;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr;

  padding: 1px 50px 83px;
}

.footer__address {
  justify-self: start;
  font-size: 18px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  list-style-type: none;
}

.footer__menu-link {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}
.footer__social-list {
  display: flex;
  justify-self: flex-end;
  gap: 48px;
}
.footer__social-icon {
  width: 48px;
  height: 48px;
}
