.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  height: 293px;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 0 50px 0 50px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.header__links-list-item {
  list-style-type: circle;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
  text-decoration: none;
}

.header__logo-image {
  height: 105px;
}

.address {
  all: unset;
  justify-self: end;
  display: flex;
  flex-direction: column;
  width: 240px;
  line-height: 24.3px;
  letter-spacing: 0%;
}

.cover {
  position: relative;
  min-height: 757px;
  margin-bottom: 180px;
  text-transform: uppercase;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  color: white;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.cover__overlay {
  padding: 165px 50px 10px 50px;
}

.cover__title {
  font-family: "Raleway";
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30px;
}
.aligned-text {
  display: block;
  height: 115px;
  padding-bottom: 135px;
}

.aligned-text_center {
  text-align: center;
  padding-left: 30px;
}

.aligned-text_right {
  text-align: end;
}
.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  margin-top: 87px;
  align-items: baseline;
  justify-content: space-between;
}
.cover__description-text {
  font-size: 22px;
  word-spacing: 19px;
}
.bet-button {
  border: 1px solid rgba(255, 255, 255, 1);
  color: white;
  font-size: 22px;
  background: transparent;
  text-transform: uppercase;
  padding: 12px 32px;
  background-color: transparent;
}

.lots {
  height: 723px;
  margin: 0 24px;
  margin-bottom: 120px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 0 27px 40px;
  /* line-height: 100%; */
}

.lots__card-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 25px;
  flex-wrap: wrap;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card {
  position: relative;
  background-size: cover;
  background-position: center;
  color: white;
}

.card__flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.card-link,
.card {
  height: 100%;
}
.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  padding: 48px 40px 0;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  font-size: 22px;
}

.card__text {
  padding: 0 40px 48px;
  font-size: 20px;
}

.lots__look-more-link {
  display: inline-block;
  margin-left: 40px;
  margin-top: 30px;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.about {
  display: grid;
  gap: 25px;
  grid-template-columns: 334px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "about__logo about__header"
    ". about__text";
  padding: 25px 0;
  margin: 0 24px;
  height: 595px;
  background: #feffd0;
  margin-bottom: 120px;
}

.about__logo {
  grid-area: about__logo;
  align-content: center;
  justify-content: center;
  justify-self: center;
}

.about__logo-image {
  width: 240px;
  height: 240px;
  border-radius: 120px;
  background-color: black;
  background-image: url("../images/logo-white.svg");
  background-size: 148px 114px;
  background-repeat: no-repeat;
  background-position: center;
}

.about__header {
  grid-area: about__header;
  align-content: center;
  justify-content: center;
}

.about__header-title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
}

.about__text {
  grid-area: about__text;
  background-color: rgb(195, 0, 255);
}

/* .logo__flex {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}
.logo__image {
  width: 148px;
  height: 114px;
} */
.footer {
  /* padding: 0 50px 50px 50px; */
  display: grid;
  height: 293px;
  padding: 50px;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}
.social__media__links {
  justify-self: flex-end;
  display: flex;
  gap: 48px;
}
.social__media__link {
  height: 48px;
  width: 48px;
}
